{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        <a class="home-button icon-arrow-left" href="/"><span class="word">Home</span></a>
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
    <div class="post-bg-adjust"></div> 
        <div class="post-adjust">
            <div class="post-data">
                <header class="post-header">
                    <h2 class="post-title">{{title}}</h2>
                </header>
                <footer class="post-meta">
                    <div class="tags-content">
                        {{tags separator=" "}}
                    </div>
                </footer>
            </div>
        </div>
</header>

<main class="content" role="main">
    <article class="{{post_class}}">
        <section class="post-content">
            {{content}}
        </section>
    
        <footer class="post-footer">

        {{!-- Everything inside the #author tags pulls data from the author --}}
        {{#author}}

            {{#if image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}

            <section class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{/if}}
                <div class="author-meta">
                </div>
            </section>

        {{/author}}
        </footer>

    </article>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}
